{% extends "base.html" %}

{% block title %} About Us{% endblock title %}

{% block body %}
    <h1>Who are we?</h1>
    <p>Welcome to Clothing Rental! We provide a wide range of fashionable clothing for rent at affordable prices. Whether you need an outfit for a special occasion or just want to try out a new style, we've got you covered.</p>

        <div>Meet Mercedes, a student with a deep passion for clothing, sustainability, and enjoying life to the fullest. With a love for fashion and a commitment to making a positive impact, she founded a clothing rental business that combines style and sustainability. Emily believes in celebrating individuality while minimizing our environmental footprint. When she's not studying or managing her business, you can find her embracing the vibrant energy of parties and social gatherings. Emily envisions a future where fashion is a force for positive change, inspiring others to make conscious choices for a more sustainable world.</div>


{% endblock %}

