<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Clothing Rental</title>
</head>
<body>
    <h1>About Clothing Rental</h1>
    <p>Welcome to Clothing Rental! We provide a wide range of fashionable clothing for rent at affordable prices. Whether you need an outfit for a special occasion or just want to try out a new style, we've got you covered.</p>

<!--    <h2>Contact Us</h2>-->
<!--    <form method="POST" action="{% url 'about' %}">-->
<!--        {% csrf_token %}-->
<!--        {{ form.as_p }}-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->
</body>
</html>