{% extends "base.html" %}

{% block content %}
{% block body %}
    <h2>Add new item</h2>
    <p>
        <a href="{% url 'clothes_list' %}" class="btn btn-primary">View clothing list</a>
    </p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <input type="file" name="image">
        <button type="submit">Upload image</button>
    </form>
<!--    <p>-->
<!--        <a href="{% url "clothes_list" %}"></a>-->
<!--    </p>-->
{% endblock body %}
{% endblock content %}
